<!DOCTYPE html>
<html ng-app="vendas">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Vendas</title>
<link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<script src="lib/angularjs/js/angular.min.js"></script>
<script type="text/javascript" src="vendas.js"></script>
<script type="text/javascript" src="produto.js"></script>
</head>
<body>
	<div class="container">
		<!-- Novo produto. -->
		<form class="form-horizontal" ng-controller="novoProdutoCtrl">
			<fieldset>
				<!-- Form Name -->
				<legend>Produto</legend>
				<!-- Código -->
				<div class="form-group">
					<label class="col-md-4 control-label" for="textinput">Código</label>
					<div class="col-md-6">
						<input id="txt_codigo" name="codigo" type="text"
							placeholder="Coloque aqui o código" class="form-control input-md" ng-model="produto.codigo">
					</div>
				</div>
				<!-- Nome -->
				<div class="form-group">
					<label class="col-md-4 control-label" for="textinput">Nome</label>
					<div class="col-md-6">
						<input id="txt_nome" name="nome" type="text" placeholder="Coloque aqui o nome"
							class="form-control input-md" ng-model="produto.nome">
					</div>
				</div>
				<!-- Button -->
				<div class="form-group">
					<label class="col-md-4 control-label"></label>
					<div class="col-md-4">
						<button type="button" class="btn btn-primary" ng-click="novoProduto(produto)">Novo</button>
					</div>
				</div>

			</fieldset>
		</form>
	</div>
	<!-- Container -->
	<script src="lib/jquery/js/jquery.min.js"></script>
	<script src="lib/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
